<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>
        <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  style="background-image:url(https://thumbnail.imgbin.com/23/20/19/imgbin-youth-light-blue-background-poster-baKTMvGc64KtxaGLvE3mcNnFb_t.jpg);
  /* Full height */
  height: 100%;width:100%

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
<div class="jumbotron jumbotron-fluid bg-dark" style="background-image:url(https://media.istockphoto.com/photos/architecture-of-golkonda-fort-picture-id1074145382?k=6&m=1074145382&s=612x612&w=0&h=q_t6d1Z_qsNt24N3dlux41_FK5tMfXrRCGDN5PUIRPQ=);
background-repeat: no-repeat;
  background-size: 100% 100%;">
    <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/telangana-govt_505_053114102100.jpg"
         style="display: block;  margin-left: auto;
  margin-right: auto;
  width: 20%;height:auto">
  <div class="container container-sm" align="center">
    <h4 class="display-2" style="font-weight:bolder;color:white">#TelanganaFightsCovid</h4>
    <p class="text-capitalize" align="center" style="font-weight:bolder;color:white">Government of Telangana,Chief Minister Sri K. Chandrashekar Rao</p>
    <a class="btn btn-primary btn-lg" href="https://covid19.telangana.gov.in/" role="button">Learn more</a>
  </div>
</div>

<div class="container">
    <h2 align="center" style="font-family:Comic Sans MS, Comic Sans, cursive"><i><u>COVID-19 e-Pass Govt. of Telangana</u></i></h2>
    <form method="post" action="/test_page"
          style="margin-left:1px;margin-right:600px;">

    <div class="form-outline mb-4">
         <label class="form-label"> First Name</label> <input type="text" name="fname" placeholder="First Name" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Last Name</label> <input type="text" name="lname" placeholder="LastName" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
         <label class="form-label"> Email ID</label> <input type="text" name="email" placeholder="email_id" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Source State</label> <input type="text" name="source_state" placeholder="departure state" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Source District</label> <input type="text" name="source" placeholder="departure district" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Destination State</label> <input type="text" name="dest_state" placeholder="destination state" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Destination District</label> <input type="text" name="destination" placeholder="destination district" class="form-control">
    <br></div>
    <div class="form-outline mb-4">
         <label class="form-label"> Mobile Number</label> <input type="number" name="phoneNumber" placeholder="phonenumber" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
         <label class="form-label"> Aadhaar Card</label> <input type="text" name="idcard" placeholder="aadhaarnumber" class="form-control">
    <br>
    </div>
    <div class="form-outline mb-4">
        <label class="form-label"> Travel Date</label> <input type="date" name="tripdate" placeholder="traveldate" class="form-control">
    <br>
    </div>
    <div class="form-group form-check">
    <label class="form-check-label">
      <input class="form-check-input" type="checkbox">  By filling in this self-declaration form, I confirm that I have not tested positive for
Covid-19 in the last 14 days or been required to be in a quarantine during the last 7
days.
    </label>
  </div>


  <button type="submit" class="btn btn-primary btn-block mb-4">Check</button>
    <br>
    <br>
</form>
</div>
</body>
</html>