<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/object-fit-images/3.2.4/ofi.min.js"></script>
    <script type="text/javascript">
    function func()
    {
    window.print();
    }
</script>

    <style>
        h2:{font-family:Comic Sans MS, Comic Sans, cursive;}

    </style>
        <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-image:url(https://thumbnail.imgbin.com/23/20/19/imgbin-youth-light-blue-background-poster-baKTMvGc64KtxaGLvE3mcNnFb_t.jpg);
  /* Full height */
  height: 100%;width:100%

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
<div class="jumbotron jumbotron-fluid bg-dark" style="background-image:url(https://media.istockphoto.com/photos/architecture-of-golkonda-fort-picture-id1074145382?k=6&m=1074145382&s=612x612&w=0&h=q_t6d1Z_qsNt24N3dlux41_FK5tMfXrRCGDN5PUIRPQ=);
background-repeat: no-repeat;
  background-size: 100% 100%;">
    <img src="https://akm-img-a-in.tosshub.com/sites/btmt/images/stories/telangana-govt_505_053114102100.jpg"
         style="display: block;  margin-left: auto;
  margin-right: auto;
  width: 20%;height:auto">
  <div class="container container-sm" align="center">
    <h4 class="display-2" style="font-weight:bolder;color:white">#TelanganaFightsCovid</h4>
    <p class="text-capitalize" align="center" style="font-weight:bolder;color:white">Government of Telangana,Chief Minister Sri K. Chandrashekar Rao</p>
    <a class="btn btn-primary btn-lg" href="https://covid19.telangana.gov.in/" role="button">Learn more</a>
  </div>
</div>

<div class="container" >
    <h2 align="center" style="font-family:Comic Sans MS, Comic Sans, cursive"><i><u>COVID-19 e-Pass Govt. of Telangana</u></i></h2>
    <div class="card" style="width: 500px;">
  <div class="card-header">
      <h2 style="font-family:Comic Sans MS, Comic Sans, cursive"><i><u>Status of the E-pass</u></i> </h2>
  </div>
  <ul class="list-group">
    <li class="list-group-item">Name: {{var}}</li>
      <li class="list-group-item">Email Id: {{var1}}</li>
      <li class="list-group-item">Aadhaar Number:{{var2}}</li>
      <li class="list-group-item">Travelling From: {{var3}},District: {{var4}}</li>
      <li class="list-group-item">Travelling To:{{var5}},District: {{var6}}</li>
      <li class="list-group-item">PhoneNumber:{{var7}}</li>
      <li class="list-group-item">Date of travel:{{var8}}</li>
      <li class="list-group-item">Status:{{var9}}</li>

  </ul>
</div>
    <button class="btn btn-success" onclick="func()"><span class="glyphicon glyphicon-print" aria-hidden="true" style="font-size: 19px;"> Print</span></button>
<br><br>
</div>
</body>
</html>